<!DOCTYPE html>
<html>

    <head>
        <title>CSCB20 - Feedback</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/feedback.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <h1>CSCB20</h1>
            </div>
            <div class="nav">
                <a class="nav-item" href="index">Home</a>
                <a class="nav-item" href="calendar">Calendar</a>
                <a class="nav-item" href="news">News</a>
                <a class="nav-item" href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a>
                <a class="nav-item" href="lectures">Lectures</a>
                <a class="nav-item" href="labs">Labs</a>
                <a class="nav-item" href="assignments">Assignments</a>
                <a class="nav-item" href="tests">Tests</a>
                <a class="nav-item" href="resources">Resources</a>
            </div>
        </div>


        <div class="pageContent">
            <!-- Keep the header -->
            <div class="courseHeader">
                <h2>
                    Introduction to Databases and Web Applications
                    <p class="user">
                        {% if roleid == '2' %}
                        <a href="feedback">Anonymous Feedback</a>
                        /
                        <a href="mymarks">View Marks</a>
                        {% else %}
                        <a href="studentfeedback">Student Feedback</a>
                        /
                        <a href="studentmarks">Student Marks</a>
                        {% endif %}
                        /
                        Logged in as
                        <a href="logout">{{ username }}</a>
                    </p>
                </h2>
                <hr>
            </div>
            <!-- Keep the header -->
            <section id="feedback">
                <h3>
                    Anonymous Feedback
                </h3>
                {% if submitted %}
                <p style="color: green">Your response has been submitted successfully!</p>
                {% else %}
                <form action="{{ url_for('submitfeedback') }}" method="POST">
                    <div class="questions">
                        <div id="pickInstructor">
                            <label>Select an Instructor: </label>
                            <select name="instruc">
                                {% for instructor in instructors %}
                                <option value="{{ instructor['id'] }}">{{ instructor['username'] }}</option>
                                {% endfor %}
                            </select>
                            <hr>
                        </div>
                        <div class="question">
                            <label>What do you like about the instructor teaching? </label>
                            <textarea placeholder="I enjoyed this course!" name="q1" class="feedback"></textarea>
                            <hr>
                        </div>
                        <div class="question">
                            <label>What do you recommend the instructor to do to improve their teaching? </label>
                            <textarea placeholder="I enjoyed this course!" name="q2" class="feedback"></textarea>
                            <hr>
                        </div>
                        <div class="question">
                            <label>What do you like about the labs? </label>
                            <textarea placeholder="I enjoyed this course!" name="q3" class="feedback"></textarea>
                            <hr>
                        </div>
                        <div class="question">
                            <label>What do you recommend the lab instructors to do to improve their lab teaching?
                            </label>
                            <textarea placeholder="I enjoyed this course!" name="q4" class="feedback"></textarea>
                            <hr>
                        </div>
                    </div>
                    <input class="button" type="submit">
                </form>
                {% endif %}
            </section>
        </div>


        <!-- Footer starts here -->
        <div class="footer">
            Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
                UofT</a>
        </div>
    </body>

</html>