<!DOCTYPE html>
<html>

    <head>
        <title>CSCB20 - Homepage</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <h1>CSCB20</h1>
            </div>
            <div class="nav">
                <a class="nav-item nav-selected">Home</a>
                <a class="nav-item" href="calendar">Calendar</a>
                <a class="nav-item" href="news">News</a>
                <a class="nav-item" href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a>
                <a class="nav-item" href="lectures">Lectures</a>
                <a class="nav-item" href="labs">Labs</a>
                <a class="nav-item" href="assignments">Assignments</a>
                <a class="nav-item" href="tests">Tests</a>
                <a class="nav-item" href="resources">Resources</a>
            </div>
        </div>


        <div class="pageContent">
            <!-- Keep the header -->
            <div class="courseHeader">
                <h2>
                    Introduction to Databases and Web Applications
                    <p class="user">
                        {% if roleid == '2' %}
                        <a href="feedback">Anonymous Feedback</a>
                        /
                        <a href="mymarks">View Marks</a>
                        {% else %}
                        <a href="studentfeedback">Student Feedback</a>
                        /
                        <a href="studentmarks">Student Marks</a>
                        {% endif %}
                        /
                        Logged in as
                        <a href="logout">{{ username }}</a>
                    </p>
                </h2>
                <hr>
            </div>
            <!-- Keep the header -->
            <section id="courseInfo">
                <!-- Rename the section based on what youre adding and removing anything in there -->
                <h3>
                    Course Description
                </h3>
                <p>
                    A practical introduction to databases and Web app development. Databases: terminology and
                    applications;
                    creating, querying and updating databases; the entity-relationship model for database design. Web
                    documents
                    and applications: static and interactive documents; Web servers and dynamic server-generated
                    content;
                    Web
                    application development and interface with databases.
                </p>
                <p>
                    <span class="bold">Prerequisite: </span>Some experience with programming in an imperative language
                    such
                    as
                    Python, Java or C.
                </p>
                <p>
                    <span class="bold">Exclusion: </span>This course may not be taken after - or concurrently with - any
                    C-
                    or
                    D-level CSC course.
                </p>
                <p>
                    <span class="bold">Syllabus: </span>
                    <a target="_blank" href="static/pdfs/syllabus.pdf">Click here</a>
                </p>
            </section>
            <section id="instructorInfo">
                <hr>
                <h3>
                    Instructor
                </h3>
                <p>
                    <span class="bold">Email: </span>
                    <a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a>
                </p>
                <p>
                    <span class="bold">Office: </span>IC493
                </p>
                <p>
                    <span class="bold">Phone: </span>(416) 208-4745
                </p>
                <p>
                    <span class="bold">Lectures: </span>Mondays 9:15-11:00 in HW 216
                </p>
                <p>
                    <span class="bold">Office Hours: </span>Wednesdays 11:00am -12:00pm
                </p>
                <hr>
            </section>
        </div>


        <!-- Footer starts here -->
        <div class="footer">
            Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
                UofT</a>
        </div>
    </body>

</html>