<!DOCTYPE html>
<html>

    <head>
        <title>CSCB20 - Labs</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/labs.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <h1>CSCB20</h1>
            </div>
            <div class="nav">
                <a class="nav-item" href="index">Home</a>
                <a class="nav-item" href="calendar">Calendar</a>
                <a class="nav-item" href="news">News</a>
                <a class="nav-item" href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a>
                <a class="nav-item" href="lectures">Lectures</a>
                <a class="nav-item nav-selected">Labs</a>
                <a class="nav-item" href="assignments">Assignments</a>
                <a class="nav-item" href="tests">Tests</a>
                <a class="nav-item" href="resources">Resources</a>
            </div>
        </div>


        <div class="pageContent">
            <!-- Keep the header -->
            <div class="courseHeader">
                <h2>
                    Introduction to Databases and Web Applications
                    <p class="user">
                        {% if roleid == '2' %}
                        <a href="feedback">Anonymous Feedback</a>
                        /
                        <a href="mymarks">View Marks</a>
                        {% else %}
                        <a href="studentfeedback">Student Feedback</a>
                        /
                        <a href="studentmarks">Student Marks</a>
                        {% endif %}
                        /
                        Logged in as
                        <a href="logout">{{ username }}</a>
                    </p>
                </h2>
                <hr>
            </div>
            <!-- Keep the header -->
            <section id="tutorialSections">
                <h3>
                    Tutorial Sections
                </h3>
                <p>
                    Please go the tutorial section that you signed up for on ROSI.
                </p>
                <hr>
            </section>
            <section id="tutorialExercises">
                <h3>
                    Tutorial Exercises
                </h3>
                <!-- Rename the section based on what youre adding and removing anything in there -->
                <p>
                    This section contains the tutorial exercises. Tutorials are held every week. The first tutorial week
                    is
                    week
                    2. Please make use of this valuable resource!
                </p>
            </section>
            <section id="table">
                <div class="table">
                    <div class="wrap">
                        <div class="row">
                            <ul class="titles">
                                <li class="week"><strong>WEEK</strong></li>
                                <li class="lab"><strong>LAB</strong></li>
                                <li class="solutions"><strong>SOLUTIONS</strong></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">2</li>
                                <li class="lab"><a target="_blank"
                                        href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t1/">Python, Command
                                        line</a></li>
                                <li class="solutions">None</li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">3</li>
                                <li class="lab"><a target="_blank" href="static/pdfs/relational.pdf">Handout</a></li>
                                <li class="solutions"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">4</li>
                                <li class="lab"><a target="_blank"
                                        href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/index.html">Handout</a>
                                    <a target="_blank" href="static/sqls/university.sql">university.sql</a></li>
                                <li class="solutions"><a target="_blank"
                                        href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/query_solns.html">query_solns</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">5</li>
                                <li class="lab"><a target="_blank" href="static/pdfs/handout.pdf">Handout</a></li>
                                <li class="solutions"><a target="_blank" href="static/pdfs/tut4_soln.pdf">Solns</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">6</li>
                                <li class="lab"><a target="_blank" href="static/pdfs/handout (1).pdf">Handout</a></li>
                                <li class="solutions"><a target="_blank" href="static/pdfs/t5_soln.pdf">Solns</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">7</li>
                                <li class="lab"><a target="_blank" href="static/pdfs/handout (2).pdf">Handout</a></li>
                                <li class="solutions"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">8</li>
                                <li class="lab"><a target="_blank"
                                        href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t8/">Handout</a>
                                </li>
                                <li class="solutions"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">9</li>
                                <li class="lab"><a target="_blank"
                                        href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t9/">Handout</a>
                                </li>
                                <li class="solutions"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">10</li>
                                <li class="lab"><a target="_blank"
                                        href="https://www.w3schools.com/jquery/jquery_syntax.asp">W3
                                        tutorial</a> Work through the tutorial for jQuery up until jQuery Remove.</li>
                                <li class="solutions"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Footer starts here -->
        <div class="footer">
            Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
                UofT</a>
        </div>
    </body>