<!DOCTYPE html>
<html>

    <head>
        <title>CSCB20 - Lectures</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/lectures.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <h1>CSCB20</h1>
            </div>
            <div class="nav">
                <a class="nav-item" index="home">Home</a>
                <a class="nav-item" href="calendar">Calendar</a>
                <a class="nav-item" href="news">News</a>
                <a class="nav-item" href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a>
                <a class="nav-item nav-selected">Lectures</a>
                <a class="nav-item" href="labs">Labs</a>
                <a class="nav-item" href="assignments">Assignments</a>
                <a class="nav-item" href="tests">Tests</a>
                <a class="nav-item" href="resources">Resources</a>
            </div>
        </div>


        <div class="pageContent">
            <!-- Keep the header -->
            <div class="courseHeader">
                <h2>
                    Introduction to Databases and Web Applications
                    <p class="user">Logged in as <a href="logout">{{ username }}</a></p>
                </h2>
                <hr>
            </div>
            <!-- Keep the header -->
            <section id="lectureSchedule">
                <h3>
                    Lecture Schedule
                </h3>
                <!-- Rename the section based on what youre adding and removing anything in there -->
                <p>
                    Please print and bring these notes/worksheets to class.
                </p>
            </section>
            <section id="table">
                <div class="table">
                    <div class="wrap">
                        <div class="row">
                            <ul class="titles">
                                <li class="week"><strong>WEEK</strong></li>
                                <li class="topic"><strong>TOPIC</strong></li>
                                <li class="reading"><strong>READING</strong></li>
                                <li class="material"><strong>MATERIAL</strong></li>
                                <li class="inClass"><strong>IN CLASS</strong></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">1</li>
                                <li class="topic">Introduction, Databases background</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w1.pdf">Power Point</a> <a
                                        target="_blank" href="static/pdfs/w1_handout.pdf">Power Point</a> <a
                                        target="_blank" href="static/pdfs/w1_handout (1).pdf">Handout</a></li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">3</li>
                                <li class="topic">Schema Diagrams, Relational Algebra</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w2.pdf">Power Point</a> <a
                                        target="_blank" href="static/pdfs/schema_relational_algebra.pdf">Worksheet</a>
                                    <a target="_blank" href="static/pdfs/schema_relational_algebra_soln.pdf">Worksheet
                                        Solutions</a></li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">4</li>
                                <li class="topic">SQL and MySQL</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w3.pdf">Power Point PDF</a> <a
                                        target="_blank" href="static/pdfs/w3_ppt_printable.pdf">Power Point Printable
                                        PDF</a>
                                    <a target="_blank" href="static/pdfs/mysql_intro.pdf">MySQL Worksheet</a></li>
                                <li class="inClass"><a target="_blank" href="static/rtfs/week4_inclass.rtf">In Class
                                        MySQL</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">5</li>
                                <li class="topic">MySQL Queries, Creating and Editing Tables</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w4.pdf">Power Point</a> <a
                                        target="_blank" href="static/pdfs/w4_printable.pdf">Printable Power Point</a> <a
                                        target="_blank" href="static/pdfs/more_mysql.pdf">More MySQL Worksheet
                                        Solutions</a>
                                </li>
                                <li class="inClass"><a target="_blank" href="static/rtfs/inclass_w5.rtf">In Class
                                        MySQL</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">6</li>
                                <li class="topic">MySQL Outer Joins, Views, NULL, string functions, HTML</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w5.pdf">Power Point</a> <a
                                        target="_blank" href="static/pdfs/html.pdf">HTML Power Point</a> <a
                                        target="_blank" href="static/pdfs/mysql_views.pdf">MySQL Views Worksheet
                                        Solutions</a></li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">7</li>
                                <li class="topic">HTML, CSS</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w7.pdf">CSS Power Point</a>
                                </li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">8</li>
                                <li class="topic">PHP</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w8_php.pdf">Power Point</a>
                                </li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">9</li>
                                <li class="topic">PHP and SQL</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/w9_php_query.pdf">Power
                                        Point</a>
                                </li>
                                <li class="inClass">Empty starter file: query.php To look at the txt for this file,
                                    download
                                    this php_query.txt</li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">10</li>
                                <li class="topic">JavaScript and jQuery</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/jquery.pdf">jQuery Power
                                        Point</a>
                                </li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">11</li>
                                <li class="topic">jQuery, AJAX, JSON</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/week11_forms.pdf">Power
                                        Point</a> <a target="_blank" href="static/pdfs/forms_printable.pdf">printable
                                        Power Point</a></li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul>
                                <li class="week">12</li>
                                <li class="topic">Last Year's final</li>
                                <li class="reading"></li>
                                <li class="material"><a target="_blank" href="static/pdfs/final_f16.pdf">W16</a> Final
                                    Note
                                    that
                                    some
                                    questions have code missing because portions resemble your A3</li>
                                <li class="inClass"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Footer starts here -->
        <div class="footer">
            Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
                UofT</a>
        </div>
    </body>