<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

	<title>CSCB20 - Login</title>
</head>

<body>
	<form action="validation" method="POST">
		<div class="container">
			<div class="title">
				<h2>CSCB20 Login</h2>
			</div>
			<div class="inputs">
				<p>Please enter your username and password below</p>
				<input class="input username" name="username" placeholder="username" type="text">
				<input class="input password" name="password" placeholder="password" type="password">
				<p class="forgot">Forgot password? Contact the course instructor</p>
			</div>
			<div class="buttons">
				<button class="register btn" title="register">Register</button>
				<button class="login btn" type="submit" title="login">Login</button>
			</div>
		</div>
	</form>

	<!-- Footer starts here -->
	<div class="footer">
		Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
		<a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
			UofT</a>
	</div>

	<script> </script>
</body>