<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

	<title>CSCB20 - Login</title>
</head>

<body>
	<form name="formLogin" action="{{ url_for('validation') }}" method="POST" onsubmit="return validateInput()">
		<div class="container">
			<div class="title">
				<h2>CSCB20 Login</h2>
			</div>
			<div class="inputs">
				<p id="noUsername" style="color:red; display: none;">Please enter a username!</p>
				<p id="noPassword" style="color:red; display: none;">Please enter a password!</p>
				{% if invalid == True%}
				<p id="loginMsg" style="color:red">Invalid Login Information. Please Try Again.</p>
				{% else %}
				<p id="loginMsg">Please enter your username and password below</p>
				{% endif %}
				<input class="input username" id="inputUsername" name="username" placeholder="username" type="text"
					onkeypress="return keyValidation(event)">
				<input class="input password" id="inputPassword" name="password" placeholder="password" type="password">
				<div class="links">
					<a class="link" href="mailto:bretscher@utsc.utoronto.ca">Forgot password?</a>
					<a class="link" href="register">Register an account</a>
				</div>
			</div>
			<div class="buttons">
				<button class="btn" type="submit">Login</button>
			</div>
		</div>
	</form>

	<!-- Footer starts here -->
	<div class="footer">
		Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
		<a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
			UofT</a>
	</div>

	<script src="{{ url_for('static',filename='js/main.js') }}"></script>
	<script src="{{ url_for('static',filename='js/login.js') }}"></script>
</body>