<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

	<title>CSCB20 - Login</title>
</head>

<body>
	<form action="{{ url_for('validation') }}" method="POST">
		<div class="container">
			<div class="title">
				<h2>CSCB20 Login</h2>
			</div>
			<div class="inputs">
				{% if invalid == True%}
				<p style="color:red">Invalid Login Information. Please Try Again.</p>
				{% else %}
				<p>Please enter your username and password below</p>
				{% endif %}
				<input class="input username" name="username" placeholder="username" type="text">
				<input class="input password" name="password" placeholder="password" type="password">
				<div class="links">
					<a href="mailto:bretscher@utsc.utoronto.ca">Forgot password?</a>
					<a href="register">Register an account</a>
				</div>
			</div>
			<div class="buttons">
				<button class="login btn" type="submit">Login</button>
			</div>
		</div>
	</form>

	<!-- Footer starts here -->
	<div class="footer">
		Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
		<a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
			UofT</a>
	</div>

	<script> </script>
</body>