<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

	<title>CSCB20 - Register</title>
</head>

<body>
	<form name="formRegister" action="{{ url_for('register_validation') }}" onsubmit="return validateInput()"
		method="POST">
		<div class="container">
			<div class="title">
				<h2>CSCB20 Register</h2>
			</div>
			<div class="inputs">
				<p id="noUsername" style="color:red; display: none">Please enter a username!</p>
				<p id="noPassword" style="color:red; display: none">Please enter a password!</p>
				<p id="wrongUsernamePassword" style="color:red; display: none">Your passwords do not match!</p>
				{% if invalid == True%}
				<p id="loginMsg" style="color:red">Username already exists!</p>
				{% else %}
				<p id="loginMsg">Create an account below</p>
				{% endif %}
				<input class="input other" id="inputUsername" name="username" placeholder="username" type="text"
					onkeypress="return keyValidation(event)">
				<input class="input other" id="inputPassword" name="password" placeholder="password" type="password">
				<input class="input repassword" id="inputRePassword" name="repassword" placeholder="re-enter password"
					type="password">
				<div class="links">
					<a class="link" href="mailto:bretscher@utsc.utoronto.ca">Forgot password?</a>
					<a class="link" href="login">Login with existing account</a>
				</div>
			</div>
			<div class="buttons">
				<button class="btn instructor" type="submit" name="role_id" value="1">Instructor</button>
				<button class="btn" type="submit" name="role_id" value="2">Student</button>
			</div>
		</div>
	</form>

	<!-- Footer starts here -->
	<div class="footer">
		Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
		<a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
			UofT</a>
	</div>

	<script src="{{ url_for('static',filename='js/main.js') }}"></script>
	<script src="{{ url_for('static',filename='js/register.js') }}"></script>
</body>