<!DOCTYPE html>
<html>

    <head>
        <title>CSCB20 - Student Marks</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/studentmarks.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <h1>CSCB20</h1>
            </div>
            <div class="nav">
                <a class="nav-item" href="index">Home</a>
                <a class="nav-item" href="calendar">Calendar</a>
                <a class="nav-item" href="news">News</a>
                <a class="nav-item" href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a>
                <a class="nav-item" href="lectures">Lectures</a>
                <a class="nav-item" href="labs">Labs</a>
                <a class="nav-item" href="assignments">Assignments</a>
                <a class="nav-item" href="tests">Tests</a>
                <a class="nav-item" href="resources">Resources</a>
            </div>
        </div>


        <div class="pageContent">
            <!-- Keep the header -->
            <div class="courseHeader">
                <h2>
                    Introduction to Databases and Web Applications
                    <p class="user">
                        {% if roleid == '2' %}
                        <a href="feedback">Anonymous Feedback</a>
                        /
                        <a href="mymarks">View Marks</a>
                        {% else %}
                        <a href="studentfeedback">Student Feedback</a>
                        /
                        <a href="studentmarks">Student Marks</a>
                        {% endif %}
                        /
                        Logged in as
                        <a href="logout">{{ username }}</a>
                    </p>
                </h2>
                <hr>
            </div>
            <!-- Keep the header -->
            <section id="marksDisplayed">
                <h3>
                    Student Marks{% if title != None %} - {{ title }}{% endif %}
                </h3>
                <!-- Rename the section based on what youre adding and removing anything in there -->
                <form action="{{ url_for('selectassessment') }}" method="POST">
                    <div class="assessmentDisplay">
                        <div id="pickAssessment">
                            <label>Select an Assessment: </label>
                            <select name="assessmentselect">
                                {% for assessment in assessments %}
                                <option value="{{ assessment['id'] }}">{{ assessment['title'] }}</option>
                                {% endfor %}
                            </select>
                            <button class="button" style="float: none" name="submit" type="submit">Select
                                Assessment</button>
                            <hr>
                        </div>
                </form>
            </section>
            {% if title != None %}
            {% if marks == None %}
            <p>There are no current available marks yet!</p>
            {% else %}
            <section id="table">
                <div class="table">
                    <div class="wrap">
                        <div class="row">
                            <ul class="titles">
                                <li class="week"><strong>Student Name</strong></li>
                                <li class="lab"><strong>Mark</strong></li>
                                <li class="solutions"><strong>Remark Request</strong></li>
                                <li class="solutions"><strong>New Mark</strong></li>
                            </ul>
                        </div>
                        <form action="{{ url_for('studentremark') }}" method="POST">
                            {% for mark in marks %}
                            <div class="row">
                                <ul>
                                    <li class="name">{{mark['username']}}</li>
                                    <li class="mark">{{mark['percentage']}}%</li>
                                    <li class="remark">
                                        {% if mark['done'] is none %}
                                        <span style="font-style: italic">None</span>
                                        {% elif mark['done'] == 0 %}
                                        <span style="color: yellow;">
                                            Reason: {{mark['reason']}} <button class="remarkBtn" name="resolve"
                                                value="{{mark['rId']}}">Resolve</button>
                                        </span>
                                        {% elif mark['done'] == 1 %}
                                        <span style="color: green;">Assessment remarked!</span>
                                        {% endif %}
                                    </li>
                                    <li class="Remark">
                                        <input class="markText" name="input" placeholder="Enter new mark"
                                            onkeypress="return keyValidation(event)">
                                        <button class="remarkBtn" name="submit" value="{{mark['id']}}">Submit</button>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </section>
            {% endif %}
            {% endif %}
        </div>
        <!-- Footer starts here -->
        <div class="footer">
            Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
                UofT</a>
        </div>
    </body>

    <script src="{{ url_for('static',filename='js/studentmarks.js') }}"></script>

</html>