<!DOCTYPE html>
<html>

    <head>
        <title>CSCB20 - Tests</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/tests.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <h1>CSCB20</h1>
            </div>
            <div class="nav">
                <a class="nav-item" href="index">Home</a>
                <a class="nav-item" href="calendar">Calendar</a>
                <a class="nav-item" href="news">News</a>
                <a class="nav-item" href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a>
                <a class="nav-item" href="lectures">Lectures</a>
                <a class="nav-item" href="labs">Labs</a>
                <a class="nav-item" href="assignments">Assignments</a>
                <a class="nav-item nav-selected">Tests</a>
                <a class="nav-item" href="resources">Resources</a>
            </div>
        </div>


        <div class="pageContent">
            <!-- Keep the header -->
            <div class="courseHeader">
                <h2>
                    Introduction to Databases and Web Applications
                    <p class="user">Logged in as <a href="logout">{{ username }}</a></p>
                </h2>
                <hr>
            </div>
            <!-- Keep the header -->
            <section id="midtermInfo">
                <!-- Rename the section based on what youre adding and removing anything in there -->
                <h3>
                    Midterm
                </h3>
                <p>
                    There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or
                    HW216
                    depending on your last name as shown here.
                </p>
                <img src="static/images/B20_rooms.png" width="70%" alt="Midterm Table">
                <p>
                    Preparing for the midterm:
                </p>
                <ul>
                    <li>
                        Understand all parts of A1
                    </li>
                    <li>
                        The midterm will cover everything on databases that we did from the start until part way through
                        the
                        week 6 lecture
                    </li>
                </ul>
                <p>
                    Once you have done some preparation, you can practice on a previous midterm: <a target="_blank"
                        href="pdfs/testA.pdf">Term Test</a>
                </p>
                <hr>
            </section>
        </div>


        <!-- Footer starts here -->
        <div class="footer">
            Website Designed by Mohamed Moussa & Bassel Ashi &copy;M&B |
            <a target="_blank" href="https://www.utsc.utoronto.ca/cms/computer-science-1">Faculty of Computer Science at
                UofT</a>
        </div>
    </body>

</html>