body {
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    padding: 0;
}

.pageContent {
    margin-top: 7.0rem;
    padding-bottom: 5.0rem;
    padding-left: 20px;
    padding-right: 20px;
}

.pageContent a:link {
    color: #0d1d79;
    text-decoration: none;
}

.pageContent a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.button {
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    float: right;
    border-radius: 6px;
    background-color: #252525;
    color: white;
    transition-duration: 0.3s;
    border-color: white;
    outline: none;
}

.button:hover {
    border-color: black;
    background-color: white;
    color: #252525;
    cursor: pointer;
}

.question {
    margin: 10px 0px 10px 0px;
}

.feedback {
    width: 100%;
    border-radius: 7px;
    background-color: lightgray;
    resize: vertical;
    min-height: 8vh;
    margin: 5px 0 5px 0;
    outline: none;
}

.feedback:focus {
    border: 2px solid;
    border-color:#0d1d79;
    margin: 4px -1px 4px -1px;
}

select {
    padding: 5px;
    border-radius: 100px;
    outline: none;
    border: 1px solid;
}